* { margin: 0; padding: 0; border: none; }
body { font-family: Roboto, sans-serif; color: #333; }
li { list-style: none; }

.left { float: left; }
.right { float: right; }

header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
	font-size: 19px;
	height: 28px;
	padding: 3px 6px;
	background: rgba(0,0,0,.7);
	color: white;
}

header p {
	/*font-weight: bold;*/
}

header li {
	display: inline-block;
	margin-right: 5px;
	margin-top:4px;
	height: 20px;
	overflow: hidden;
}

header li:last-child {
	margin-right: 0;
}

header a {
	color: white;
	text-decoration: none;
	color: #ddd;
}

header a.active {
	color: white;
}

#map {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.tour #map {
	position: static;
	width: 670px;
	height: 360px;
	margin: 10px 10px;
	float: left;
}

#tour-info {
	display: none;
}

.tour #tour-info {
	display: block;
	width: 580px;
	height: 360px;
	margin: 10px 0;
	float: left;
}

#tour-nav {
	display: none;
}

.tour #tour-nav {
	display: block;
	margin-top: 30px;
	padding: 0 10px;
	overflow: hidden;
}

#tour-nav h3 {
	display: none;
	text-align: center;
}

.tour #types {
	display: none;
}

.types {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	margin: 42px 0 0 7px;
	padding-bottom: 5px;
	overflow: scroll;
	max-height: 702px;
}

.types::-webkit-scrollbar {
	display: none;
}

.types .type {
	background: #fff;
	box-shadow: 0 2px 6px rgba(0,0,0,0.3),0 4px 15px -5px rgba(0,0,0,0.0);
	margin-top: 5px;
	border-radius: 2px;
	overflow: hidden;
}

.types .type:first-child { margin-top: 0; }

.types .type h3 {
	font-size: 0.9em;
	padding: 3px 10px;
	background: #eee;
	cursor: pointer;
}

.types .type ul {
	padding: 3px 10px;
	font-weight: 300;
}

.types .type.collapsed ul {
	display: none;
}

.types .type li {
	margin-bottom: 3px;
	overflow: hidden;
	min-width: 160px;
	max-width: 200px;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.types .type label {
	cursor: pointer;
}

.types .type input {
	display: none;
}

.types .type img {
	width: 16px;
	position: relative;
	top: 4px;
	-webkit-filter: grayscale(1);
	opacity: .2;
}

.types .type input:checked + img {
	-webkit-filter: grayscale(0);
	opacity: 1;
}

.tt {
width: 20px;
height: 20px;
background-image: url(icons/signpost.png);
display: inline-block;
background-position: 0 61px;
float: right;
}

.types .details {
	color: #777;
	text-decoration: none;
	float: right;
	margin-top: 3px;
}

.types .details:hover {
	color: #222;
}

.types .back {
	float: left;
	margin: 0 5px 0 0;
}

.gm-style-mtc {
	margin-top: 40px !important;
}

html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }
#map { height: 100% }

/* 
 * Mobile devices
 */

@media only screen and (max-device-width: 568px) { 
	.right {
		display: none;
	}

	.types {
		opacity: 0.75;
	}

	.gm-style-mtc {
		margin-top: 36px !important;
	}

	.gm-style-mtc div {
		padding: 0px 2px 0px 2px !important;
	}
}

/* 
 * Responsive videos
 */

.youtubewrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.youtubewrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#info-body img {
	width: 100%;
}

/**
 * info window
 */

.scrollable {
	height: 400px;
	overflow: scroll;
}

@media only screen and (max-device-width: 568px) { 
	.scrollable {
		height: 250px;
	}
}